/* .lil-container {
    width: auto;
    height: auto;
    background-color: black;
} */

.dropdown-logout {
    color: red;
}

.navbar-buttons {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.post-button {
    color: white;
    background-color: #198754;
    border: none;
    border-radius: 5px;
}

.img-thumbnail {
    object-fit: cover;
    aspect-ratio: 1;
}
